# Compiled class files
*.class

# Logs
*.log

# Maven
target/
!target/classes/
!target/test-classes/

# NetBeans specific files
nbproject/private/
nbproject/Makefile-Release.mk
nbproject/Makefile-Debug.mk
nbproject/Makefile.mk
nbproject/Makefile-*.mk

# IDE files
*.iml
.idea/
*.swp
*.swo

# Visual Studio Code specific files
.vscode/
.history/

# Other common files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Configuration files
*.properties
*.xml

# User-specific files
*.user
*.userprefs
